version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: zema-prometheus_server_1
      APP_PORT: 9090

  server:
    image: prom/prometheus:latest
    hostname: prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ${APP_DATA_DIR}/configuration/prometheus.yml:/etc/prometheus/prometheus.yml:ro/configuration/:/etc/prometheus/
      - ${APP_DATA_DIR}/data/:/prometheus/
    restart: unless-stopped
    environment:
      TZ: "Europe/Moscow"
    networks:
      - default

  node-exporter:
    image: prom/node-exporter:latest
    hostname: exporter
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --path.rootfs=/rootfs
      - --collector.filesystem.ignored-mount-points
      - ^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    restart: unless-stopped
    environment:
      TZ: "Europe/Moscow"
    networks:
      - default

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
